*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(backgroundP.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22.5px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.27s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.footer {
    padding: 30px;
    height: 5vh;
    font-size: 20px;
    background-color: #696969;
    border: 1px solid;
}
.contact_info{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black;
}
.prosjekt{
    transform: translateY(100%);
    display: grid;
    font-weight: bold;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
.prosjekt1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    position: static;
    border: 4px solid #3668ff;
    width: 75%;
    padding: 0 10px;
    height: 105%;
}
.prosjekt1 h1{
    color: white;
}
.prosjekt2{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        position: static;
        border: 4px solid #3668ff;
        width: 75%;
        padding: 0 10px;
        height: 105%;
}
.prosjekt3{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        position: static;
        border: 4px solid #3668ff;
        width: 75%;
        padding: 0 10px;
        height: 105%;
}
.title{
    color: #3668ff;
    font-size: 28px;
}
.title2{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}