*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(75, 67, 67, 0.75), rgba(75, 67, 67, 0.75)), url(backgroundOS.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: #000000;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.27s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.cards {
    text-shadow: 1px 1px rgb(158, 149, 149);
    transform: translateY(50%);
    display: grid;
    font-weight: bold;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
.card1 {
    box-shadow: 0 4px 8px 0 #bf00ff;
    margin: auto;
    text-align: center;
    position: static;
    border: 4px solid #bf00ff;
    width: 75%;
    padding: 0 10px;
    height: 105%;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgb(255, 0, 0);
    margin: auto;
    text-align: center;
    position: static;
    border: 4px solid #ff0000;
    width: 75%;
    padding: 0 10px;
    height: 105%;
}
.card3 {
    box-shadow: 0 4px 8px 0 #73AD21;
    margin: auto;
    text-align: center;
    position: static;
    border: 4px solid #73AD21;
    width: 75%;
    padding: 0 10px;
    height: 105%;
}
.title {
    color: #000000;
    font-size: 28px;
}
.title2{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
}
.footer {
    padding: 30px;
    height: 5vh;
    font-size: 20px;
    background-color: #696969;
    border: 1px solid;
}
.contact_info{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black;
}
