*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(vergenhq.jpg);
    background-size: cover;
    background-position: center;
    padding: none;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22.5px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.27s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70p;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
  .container {
    position: relative;
  }
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
.footer {
    font-size: 20px;
    background-color: #a3a3a3;
    box-shadow:5px 10px red ;
    border: 1px solid;
}
.boks {
    transform: translateY(50%);
    position: static;
    background-color: lightgrey;
    width: 500px;
    height: 200px;
    border: 5px solid #ff0000;
    padding: 50px;
    margin: auto;
}
.dato {
    font-size: 18px;
    font-weight: bold;

}
